

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Chakra Petch', sans-serif;
}

footer{
	border-top: 3px solid;
	border-color: #f4a88e;
	padding: 30px 60px 30px 60px;
	height: 100px;
	color: #fff;
	background-color: #645677;
	font-size: 15px;
}


/*Small devices (landscape phones, 576px and down)*/
@media (max-width: 576px) { 
    footer{
        padding: 22px 31px 21px 31px;
	}
 }

 @media (min-width: 576px) { 
	.jumbotron {
		padding: 1rem 2rem;
		margin-bottom: 3rem;

	}
 }

 .calendar {
	width: 100%;
	height: 400px;
	box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);	
  }

  #calendar{
	  padding-bottom: 50px;	  
  }
  
  .top-cal {
	width: 100%;
	height: 11rem;
	background-color: #476974;
	font-weight: 300;
	color: #fff;
	padding: 15px;	
  }

  .button-cal{
	padding: 15px;
	display: flex;
  }
  #calendar .calendar{
	  padding: 0px;
  }

  .day{
	  font-size: 70px;
  }

  .days-week {
	  display: flex;
	  font-size: 12px;
	justify-content: center;
  }

  .days-week div{
	  color: #476974;
	  padding: 5px 12px 5px 12px;
  }

  @media (max-width: 480px) {
	#calendar .calendar{
		margin: 5px;
	}

}


